* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff;
}

/* HEADER */
header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

.login-btn {
    background-color: #ff1493;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
}

/* HERO */
.hero {
    background: linear-gradient(90deg, #6a004f, #ff008c);
    height: 80vh;
    display: flex;
    align-items: center;
    padding-left: 10%;
    color: white;
}

.hero-text h1 {
    font-size: 80px;
}

.hero-text p {
    margin: 20px 0;
    font-size: 20px;
}

.hero-text button {
    padding: 12px 30px;
    border: none;
    background-color: white;
    color: #ff008c;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}

/* CATEGORIAS */
.categorias {
    padding: 60px 10%;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.card {
    background-color: #ffb6d9;
    padding: 40px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* CLOSET */
.closet {
    padding: 60px 10%;
    background-color: #f9f9f9;
}

.roupas button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #ff008c;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.resultado {
    margin-top: 30px;
}

.resultado ul {
    margin-top: 10px;
}

.limpar {
    margin-top: 15px;
    background-color: #444;
}

/* FOOTER */
footer {
    background-color: #6a004f;
    color: white;
    text-align: center;
    padding: 20px;
}
